.form2 {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 30%;
  margin: 10%;
  background: url("https://d1e00ek4ebabms.cloudfront.net/production/6b7c5fa6-b824-4430-b544-2102ad555fd1.jpg");
  background-color: lightblue;
}
.avatar1 {
  height: 20%;
  width: 20%;
}
.imageContainer {
  display: flex;
  flex-direction: inherit;
  align-items: center;
}
