.home {
  font-weight: 200;
  align-content: center;
}

table {
  background-image: url("https://thumbs.dreamstime.com/z/bitcoin-virtual-money-banknotes-us-dollar-next-to-mobile-phone-btc-vs-usd-stock-exchange-cryptocurrency-coins-background-176398175.jpg");
  height: fit-content;
  width: max-content;
  border: black;
  border-top-width: 2%;
  align-self: center;
  border: black;
  border-radius: 10%;
  background-blend-mode: saturation;
  color: aqua;
}

.thead {
  display: flex;
  border-width: 10px;
  border: black;
}

button {
  align-self: center;
}
table.container {
  height: max-content + 90px;
  max-width: 60%;
}
