.navigation {
  height: 10%;
  width: 60%;
}

.form1 {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 30%;
  margin: 10%;
  background: url("https://d1e00ek4ebabms.cloudfront.net/production/6b7c5fa6-b824-4430-b544-2102ad555fd1.jpg");
  background-color: lightblue;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 40%;
  padding: 12px 20px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #6e7270;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 20%;
  align-self: center;
}

.button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  height: 80px;
  width: 80px;
  display: flex;
  align-self: center;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
